<div class="container w-3/6 mx-auto my-10 flex">

    <div class="w-7/12 main">
        
    <owl-carousel-o [options]="customOptions">
        <ng-template carouselSlide>
        <img src="./assets/images/home/R.png" class="w-full" alt="">
        </ng-template>  
      <ng-template carouselSlide>
        <img src="./assets/images/home/61cSNgtEISL._AC_SY200_.jpg" class="w-full" alt="">

      </ng-template>  
      <ng-template carouselSlide>
        <img src="./assets/images/home/XCM_Manual_1396328_4379574_Egypt_EG_BAU_GW_DC_SL_Jewelry_379x304_1X._SY304_CB650636675_.jpg" class="w-full" alt="">

      </ng-template>  
    </owl-carousel-o>

    </div>
    <div class="w-5/12 child">
        <img src="./assets/images/home/XCM_Manual_1396328_4379575_Egypt_EG_BAU_GW_DC_SL_Bags_Wallets_379x304_1X._SY304_CB650636675_.jpg" class="w-full" alt="">
        <img src="./assets/images/home/XCM_Manual_1533480_5305769_379x304_1X._SY304_CB616236518_.jpg" class="w-full" alt="">

    </div>
</div>


<div class="w-full slider">
   
    <owl-carousel-o [options]="customOptions" class="my-10">
        <ng-template carouselSlide>
        <img src="./assets/images/home/1681511179514.png" class="mb-6" alt="">
        <h2>Beauty & Health</h2>

        </ng-template>
        <ng-template carouselSlide>
            <img src="./assets/images/home/1681511368164.png" class="mb-6" alt="">
            <h2>Books</h2>
            </ng-template>
            <ng-template carouselSlide>
                <img src="./assets/images/home/1681511392672.png" class="mb-6" alt="">
                <h2>Home</h2>
                </ng-template>
                <ng-template carouselSlide>
                    <img src="./assets/images/home/1681511427130.png" class="mb-6" alt="">
                    <h2>Baby & Toys</h2>
                    </ng-template>
                    <ng-template carouselSlide>
                        <img src="./assets/images/home/1681511452254.png" class="mb-6" alt="">
                        <h2>SuperMarket</h2>
                        </ng-template>   
                        <ng-template carouselSlide>
                            <img src="./assets/images/home/1681511818071.jpeg" class="mb-6" alt="">
                            <h2>Women's Fashion</h2>
                            </ng-template>
                            <ng-template carouselSlide>
                                <img src="./assets/images/home/1681511865180.jpeg" class="mb-6" alt="">
                                <h1>
                                    Men's Fashion</h1>
                                </ng-template>
                                    <ng-template carouselSlide>
                                    <img src="./assets/images/home/1681511964020.jpeg" class="mb-6" alt="">
                                    <h2>Music</h2>
                                    </ng-template>
                                    <ng-template carouselSlide>
                                        <img src="./assets/images/home/1681511156008.png" class="mb-6" alt="">
                                        <h2>Mobiles</h2>
                                        </ng-template>
                                        <ng-template carouselSlide>
                                            <img src="./assets/images/home/1681511121316.png" class="mb-6" alt="">
                                            <h2>Electronics</h2>
                                            </ng-template>
                                           </owl-carousel-o>

</div>

<div class="max-w-md mx-auto mt-10">   
    <label for="default-search" class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white">Search</label>
    <div class="relative">
        <input [(ngModel)]="searchTerm" type="search" id="default-search" class="block w-full p-4 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-green-200 focus:border-green-200 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-green-200 dark:focus:border-green-200" placeholder= "Women ,Man , Electroinc..." required />
        <button type="submit" class="text-white absolute end-2.5 bottom-1.5 btn-main  ">Search</button>
    </div>
</div>


<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-4 container w-10/12 mx-auto my-10">
    @for (product of sharedService.productList() | filter:searchTerm ; track $index) {
        <div class="product h-full relative group w-full max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 flex flex-col" title="{{product.title}}">
            <div class="flex items-center mb-4 z-40" (click)="toggleWishlist(product._id, $event)">
               <i class="fa-regular fa-heart absolute right-3 top-3 cursor-pointer z-20 text-2xl"
                [ngStyle]="{ color: sharedService.isProductInWishlist(product.id) ? 'red' : 'gray' }"
                (click)="toggleWishlist(product.id, $event)"></i>
                </div>
                
            <div [routerLink]="['/productdetails', product._id]" class="">
     <div>
     </div>
            <img class="p-8 rounded-t-lg" [src]="product.imageCover" alt="product image" />
            <div class="px-5 pb-5 flex-grow">
                <div>
                    <h5 class="text-main text-xl font-semibold tracking-tight text-gray-900 dark:text-white">{{product.category.name}}</h5>
                    <h5 class="text-sm m-3 font-semibold tracking-tight text-gray-900 dark:text-white">{{product.title.split(" " ,4).join(" ")}}</h5>
                </div>
                <div class="flex items-center justify-between">
                    <span class="text-1xl font-bold text-gray-900 dark:text-white">{{product.price}} EGP</span>
                    <i class="fa-solid fa-star rating-color ">{{product.ratingsAverage}}</i>
                </div>
            </div>
           </div>

            <button class="btn-main  mt-auto m-3" (click)="addProductToCart(product._id)">
                @if(sharedService.isLoding){
                 <i class="fa fa-spinner fa-spin"></i>
                }
                {{'Add product' | translate}}</button>
        </div>
    }
</div>
