<div class="w-10/12 mx-auto">
  <h2 class="text-main text-3xl mb-6">Login Now :</h2>

  <form [formGroup]="LoginForm" (ngSubmit)="sandData()">
    
    @if(errMsg){
      <div class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
        <p>Error :{{errMsg}}</p>
      </div>
    }

    <div class="mb-6">
      <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Your Email</label>
      <div class="relative mb-6">
        <div class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">
          <svg
            class="w-4 h-4 text-gray-500 dark:text-gray-400"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
            viewBox="0 0 20 16"
          >
            <path d="m10.036 8.278 9.258-7.79A1.979 1.979 0 0 0 18 0H2A1.987 1.987 0 0 0 .641.541l9.395 7.737Z" />
            <path d="M11.241 9.817c-.36.275-.801.425-1.255.427-.428 0-.845-.138-1.187-.395L0 2.6V14a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V2.5l-8.759 7.317Z" />
          </svg>
        </div>
        <input
          type="email"
          id="email"
          formControlName="email"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          placeholder="name@flowbite.com"
        />
      </div>
    </div>

    @if (LoginForm.get("email")?.errors && LoginForm.get("email")?.touched) {
      <div class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
          @if (LoginForm.get("email")?.getError("required")) {
  
          <p class="font-medium">required !</p>

      }@else if (LoginForm.get("email")?.getError("email")) {
          <p class="font-medium">Invalid Email</p>
      }  
  </div>
    }

    <div class="mb-6">
      <label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Password</label>
      <input
        type="password"
        id="password"
        formControlName="password"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        placeholder="•••••••••"
        required
      />
    </div>
    @if (LoginForm.get("password")?.errors && LoginForm.get("password")?.touched) {
      <div class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
          @if (LoginForm.get("password")?.getError("required")) {
  
          <p class="font-medium">required !</p>

      }@else if (LoginForm.get("password")?.getError("pattern")) {
          <p class="font-medium">Invalid password !</p>
      }  
  </div>
    }
  
      
    <button class="btn-main mb-10 cursor-pointer" [disabled]="LoginForm.invalid" type="submit">
      Submit
 
      @if(isLogin){
      <i class="fa-solid fa-spinner fa-spin" aria-hidden="true"></i>
      }

    </button>
  
    <a routerLink="/forgetpassword" class="text-blue-600 hover:underline dark:text-blue-500 ms-10 cursor-pointer"
      >Forget Password</a
    >
  
  </form>
</div>
